<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weblox - Home</title>
    <link rel="stylesheet" type="text/css" href="assets/files/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/files/fonts/css/font-awesome.css">   
    <script type="text/javascript" src="assets/files/js/scripts.js"></script>
    <script type="text/javascript" src="assets/files/js/vue.js"></script>
    
    <style>
        .bodybanner{
            margin:25px auto 30px auto;
            padding:50px 0;
        }
        .textitem{
            font-size:16px;
        }
    </style>
</head>
<body>
 
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container col-md-7">
                <a href="" class="navbar-brand"><span class="log">We<span>blox</span></span></a>
            </div>
        </nav>
    </header>
 
    <div class="bodybanner container bg-light col-md-7">
        <div class="jombotron" align="center">
            <h1 class="titleitem display-4"><b>Welcome to Weblox !</b></h1>
            <p class="textitem">The lightweight and futuristic forum, join and interacts with peoples around the world.</p>
            
            <a href="/login"><button class="btn btn-primary">Create an account <i class="fa fa-user-o"></i></button></a>
        </div>
    </div>


    
</body>
</html>